body {
    height: 100%;
    width: 98%;
}

h1 {
    font: 34px sans-serif;
    color: #252525;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    font: 26px sans-serif;
    color: #737373;
    margin-bottom: 0px;
    margin-top: 4px;
}

#main-container {
    display: flex;
    height: 100vh;
}

#map-column {
    flex: 0 0 65%;
}

#info-column {
    flex: 1;
}

div.tooltip {
    margin-top: 20px;
    height: auto;					
    font: 24px sans-serif;		
    color: #737373;
    background: transparent;	
    pointer-events: none;			
}

.overlay {
    position: relative;
    z-index: 20;
}

.contour {
    position: relative;
    z-index: 10;
}

.state {
    position: relative;
    z-index: 0;
}
